@use "../../styles/partials/variables" as *;

html {
    font-size: 16px;
}

body {
    background-color: black;
    color: #fff;
    font-size: 1rem;
}

.header {
    color: white;

    .wrapper {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__nav {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    &__nav-title {
        font-size: 16px;
        font-weight: 700;
        opacity: 0.5;
        padding: 0.9375rem;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding-top: 0;
        padding-bottom: 1.3125rem;
    }

    &__points-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__total-comment {
        font-size: 16px;
        opacity: 0.46;
        font-weight: 700;
        color: white;
    }

    &__total {
        font-size: 24px;
        font-weight: 700;
        color: white;
        margin-bottom: 60px;
    }

    &__logo {
        width: 148px;
        height: 148px;
        border: solid $accentColor;
        border-radius: 50%;
        margin: 0 auto;
    }
}

.cta,
.card-small {
    background: #202020;
    color: white;
    border-radius: 0.3125rem;
    padding: 1rem;
    margin-bottom: 1.25rem;
    text-align: center;

    .cta-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.3125rem;
        font-size: 0.875rem;
    }

    .cta-today {
        font-size: 0.75rem;
        color: #1db489;
        margin-bottom: 0;
    }

    .cta-points {
        background-color: #0064F8;
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border-radius: 0.3125rem;
        color: white;
        font-size: 0.875rem;
        margin-bottom: 0;
        margin-left: auto;
    }
}

.cta-link {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $accentColor;
    }
}

.overview {
    .wrapper {
        padding: 1.25rem;
        text-align: center;
    }

    h2 {
        color: white;
        padding-bottom: 1rem;
    }

    .grid {
        display: flex;
        gap: 0.3125rem;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .card-small {
        flex: 1 1 calc(33.33% - 0.625rem);
        max-width: calc(33.33% - 0.625rem);
        min-width: 5rem;
        padding: 0.3125rem;

        .card-small-title {
            font-size: 0.75rem;
            color: white;
            margin-bottom: 0.3125rem;
        }

        .card-small-icon {
            margin: 0.3125rem 0;

            img {
                width: 1rem;
                height: 1rem;
            }
        }

        .card-small-number {
            font-size: 0.875rem;
        }

        .card-small-percentage {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.75rem;

            span {
                display: flex;
                align-items: center;
                color: #1db489;
                font-size: 0.75rem;
            }

            img {
                margin-right: 0.3125rem;
                width: 0.75rem;
                height: 0.75rem;
            }
        }
    }
}

.card {
    margin-top: 1.25rem;
}

.top-card {
    .wrapper {
        padding: 1.25rem 2.25rem;
        text-align: center;
    }

    h2 {
        color: white;
        padding-bottom: 1rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    .cta {
        flex: 1 1 auto;
        max-width: 100%;
        min-width: 5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .cta-title {
            font-size: 1rem;
        }

        .cta-points {
            margin-top: 0.5rem;
        }
    }
}