@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;

.question {
  font-size: 16px;
  font-weight: 700;
  padding: 0.9375rem;
  text-align: left;
  height: 100%;

  &__tiny-text {
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    padding-bottom: 16px;
  }

  &__text {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }

  &__option-btn {
    background-color: $secondaryColor;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 135px;
  }

  &__option-btn.selected {
    border: 2px solid $accentColor;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    margin: 16px 0;
  }

  &__img {
    width: 100%;
    margin: 16px 0;
  }

  &__subtext {
    margin: 16px 0;
    font-size: 11px;
    padding: 8px;
    border-bottom: 2px solid $accentColor;
  }

  &__text-span {
    padding-bottom: 4px;
    border-bottom: 2px solid blue;
  }

  &__submit-btn {
    background-color: $accentColor;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 8px;
    height: 34px;
    margin-top: 4rem;
    width: 100%;
  }
}
